/* CSS declarations go here */
body{
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: sans-serif;
}

.navbar {
    background-color: #db4c3f;
    padding: 20px;
}

.navbar-item {
    font-size: 20px;
        margin: auto 25px;
        color: #ffffff;
}
.navbar-item a {
    color: #ffffff;
    text-decoration: none;
}
.navbar-account {
    float: right;
}

.welcome-block {
    /* padding: 17px; */
    position: relative;
    text-align: center;
    margin-top: 9%;
    display: block;
    font-size: 20px;

    /* margin: auto; */
}

.submit-btn{
    background-color: #db4c3f;
    color: #ffffff;
}
